.compatibility {  
  color: DarkGoldenrod;  
  background-color: BlanchedAlmond;
        border: 1px solid DarkGoldenrod;
		 margin: 10px;
}

.tip {  
  color: blue;  
  background-color: LightBlue;
  border: 1px solid blue;
  margin: 10px;
}

.design {  
  color: red;  
  background-color: #ffcccc;
        border: 1px solid red;
		margin: 10px;
}